div.container{
    /* width: 200px;
    height: 200px; */
    background-color: red;
    height: 70vh;
    width: 25vw;
}

.inner-div{
    width: 50%;
    height: 20%;
    background-color: yellow;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
}

span{
    font-size: 2rem;
}

div{
    font-size: 30px;
}

li{
    font-size: 3rem;
}