<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Todos</h1>

    <form action="/todos" method="post">
        <textarea name="todo" cols="30" rows="3" placeholder="Write here..."></textarea>
        <br>    
        <button>Add Todo</button>
    </form>

    <ul>
        <% for( let todo of todos ) { %>
            <li><%= todo %></li>
        <% } %>
    </ul>

</body>
</html>