<% layout('layouts/boilerplate.ejs') -%>
<%- include('../partials/flash') %>


<form action="/login" method="post">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="passwordInput">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Signin</button>
</form>

<p class="mt-3">Haven't registered yet? <a href="/register">register</a> </p>