
/* ----------------Descendent combinator */
div div p span{
    color: aqua;
}

/*----------------- child selector */
/* ul > li{
    color: red;
} */

/* -------------- immediate siblings */
/* li+li{
    color:red;
} */

/* -------------general siblings */
/* li~li{
    color:red;
} */

/* pseudo selectors */
/* ---------------------navbar */

nav{
    background-color: black;
    font-size: 20px;
    padding: 15px;
}

nav a:link{
    color: white;
    text-decoration: none;
}

nav a:visited{
    color: white;
}

nav a:hover{
    border-bottom: 3px solid white;
}

nav a:active{
    color: orange;
    border: none;
}


/* a[href="http://www.instagram.com"]:link{
    color:orange;
}

a[href="http://www.instagram.com"]:visited{
    color:red
} */

/* ol li:first-child{
    background-color: yellow;
}

ol li:last-child{
    background-color: orangered;
} */

ol li:nth-child(2n){
    background-color: aqua;
}

ol li:nth-child(2n+1){
    background-color: rgba(11, 229, 229, 0.38);
}

div div p::first-letter{
    font-size: 35px;
}

#phone-directory li::after{
    content: '☎️';
}
