<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogs" method="POST">
        <textarea name="text" cols="20" rows="5" placeholder="write here..."></textarea>
        <br>
        <input name="username" type="text" placeholder="Username">
        <br>
        <input name="email" type="email" placeholder="Email">
        <br> <br>
        <button>Submit</button>
    </form>
</body>
</html>