div{
    border: 2px solid red;
    /* margin-bottom: 5px; */
}

/* positions :- relative, absolute, fixed, sticky */
/* z-index */

.div{
    background-color: aquamarine;
}
.parent{
    /* margin-top: 400px; */
    background-color: orange;
    padding: 20px;
    height: 300px;
    overflow: scroll;
}

.div-3{
    background-color: rgb(255, 255, 0);
    position: sticky;
    top: 50px;
    /* bottom: 0; */
    /* top: 50px; */
    /* left:100px;
    z-index: -10; */
    /* width: 200px;
    right: 0; */
}

/* .outer-div{
    position: relative;
} */